u1-tooltip {
    /* relevant */
    opacity: 0;
    visibility:hidden;
    position: absolute;
    z-index: 9999;
    transition-property:opacity, visibility;
    margin:1rem;

    /* hide transition */
    transition-duration:400ms;
    transition-delay: 10ms;

    /* customisable */
    pointer-events: none;
    padding: .5em .7em;
    border:1px solid CanvasText; /* currentColor bug in ff: https://jsfiddle.net/cdtonmzu/109/ */
    max-width:14rem;
    background: Canvas;
    color: CanvasText;
}

u1-tooltip[tabindex="-1"] {
    pointer-events:auto;
}


u1-tooltip:focus-within,
u1-tooltip:hover,
u1-tooltip[open]
{
    /* show transition */
    transition-duration:250ms;
    transition-delay: 150ms;
    visibility:visible;
    opacity: 1;
}


/* css only fallback */
:hover > u1-tooltip:not([id]),
:focus > u1-tooltip:not([id])
{
    visibility:visible;
    opacity: 1;
}
/* */


/* arrow:
u1-tooltip::after {
    position:absolute;
    pointer-events:none;
    inset:-1em 0 auto 0;
    margin:auto;
    width:0;
    border: .5em solid transparent;
    border-bottom-color: var(--color-text);
    content: "";
}
*/